#myBtn {
  text-align: center;
  margin-bottom: 0px;
}

#btnColor {
  background-color: #212529;
}

#bck {
  background-color: white;
  color: black;
  margin-bottom: 0px;
}

.card-body {
  background-color: #212529;
  color: white;
}



#portfolio {
  background-color: #212529;
  width: auto;
  height: auto;

}

#portfolio2 {
  text-align: center;

}

#crdPic {
  height: 200px;
}

.para2 {
  color: white;
}

.card-title {
  adding: 15px;
  background-color: #212529;
  margin: -15px;
  text-align: center;
}

.submit {
  text-align: center;
}

#submit {
  background-color: #212529;
}

#contact {
  background-color: #212529;
  width: auto;
  height: 1000px;
}